button {
  margin: 100px;
}

#pageTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  font-size: 2em;
  font-weight: bold;
}
#brand {
  font-weight: bold;
  text-shadow: 0.5px 0.5px #1cf115;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  width: 25vw;
}
.lesson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}
span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#practiceInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#input {
  border-radius: 8px;
  height: 6vh;
  width: 50vh;
  outline: none;
  border-color: #1cf115;
  outline: none;
  font-size: 1.5rem;
  font-weight: bolder;
}
#input:hover {
  opacity: 0.7;
}

.listButton {
  border-radius: 8px;
  outline: none;
  transition: ease-in;
}
.listButton:hover {
  font-weight: bold;
  opacity: 0.7;
}
#submitButton {
  margin-left: 10px;
  border-radius: 8px;
  height: 6vh;
  transition: ease-in;
}
#submitButton:hover {
  font-weight: bold;
  opacity: 0.7;
}
#inputPin {
  outline: none;
  max-width: 100px;
  margin-right: 8px;
  border-radius: 8px;
}
#submitButton2 {
  margin-right: 50px;
  border-radius: 8px;
  outline: none;
}
#modeButton {
  display: inline;
}
#modeLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1cf115;
  margin-top: 10px;
}
#locked {
  display: none;
  font-size: larger;
  z-index: 1;
}

#right {
  display: hidden;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  font-size: 4vw;
}
#wrong {
  display: none;
  flex-direction: row;
  justify-content: center;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #888;
  color: rgb(0, 0, 0);
}
.terryCopyright {
  margin-bottom: 8px;
}
.photoCredit {
  font-size: 0.5rem;
}
/*-------------------------SlIDE MODE SWITCH----------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1cf115;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1cf115;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  color: black;
  margin-right: 10px;
}

@media only screen and (max-width: 568px) {
  #pageTitle {
    padding-top: 6rem;
  }
}
@media only screen and (max-width: 450px) {
  #pageTitle {
    padding-top: 8rem;
  }
}
